@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/montserrat');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --dark-green: #122021;
    --button-color: #3F6F71;
    --link-color: #B7BBAF;
    --green-txt: #1C4442;
    --dark-green-txt: #1D5155;
    --txt-color: #F0FEFF;
    --white: #FFFFFF;
}
  
html {
    scroll-behavior: smooth;
    width: 100vw;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
    letter-spacing: -0.35px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}


::-webkit-scrollbar {
    display: none;
}

body {
    background: radial-gradient(107.86% 107.86% at 64.17% 37.06%, #042F2E 0%, rgb(2, 35, 35) 25.37%, #000000 61.79%), url('./assets/abstract.png');
    background-attachment: fixed;
    color: var(--txt-color);
    min-width: 100vw;
}

.trans-div {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
}

.f-border {
    border: 1.5px solid rgba(197, 255, 255, 0.12);
}

.b-border {
    border-bottom: 1.5px solid rgba(197, 255, 255, 0.12);  
}

.t-border {
  border-top: 1.5px solid rgba(197, 255, 255, 0.12);  
}

.l-border {
  border-left: 1.5px solid rgba(197, 255, 255, 0.12);  
}


/* -------------------- Colors --------------------------- */
.darkgreen {
    background-color: var(--dark-green);
}

.green {
  background-color: rgba(28, 68, 66, 0.3);

}

.txtdarkgreen {
    color: var(--dark-green-txt);
}

.btncolor {
    background-color: var(--button-color);
}

.txtbtncolor {
    color: var(--button-color);
}

.txtlinkcolor {
    color: var(--link-color);
}

.txtgreen {
    color: var(--green-txt);
}

.bg-white {
  background-color: var(--white);
}



/* Font families */
.poppins {
    font-family: 'Poppins', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.avenir {
    font-family: 'Avenir', sans-serif;
}



/* ------------------------- Hero Button ::before element ------------------------ */
#hero-btn::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.05);
    z-index: -2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
  }

  #avatar::before {
    content: "";
    width: 480px;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    height: 120px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -2;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.35), 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  }

  .b-space {
    border-spacing: 20px;
  }


  .bottom-rounded {
    border-radius: 0 0 8px 8px;
  }

  .right-rounded {
    border-radius: 0 8px 8px 0;
    border-left: none !important;
  }

  .addshadow {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.35), 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  }

  #cursor {
    display: inline-block;
    background-color: var(--txt-color);
    animation: blink 0.8s infinite;
    position: absolute;
  }


  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 200px;
    }
  }
  @keyframes deleting {
    0% {
      width: 200px;
    }
    100% {
      width: 0;
    }
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  /* ------------------------  SWIPER NAVIGATION BUTTONS -------------------------------- */
.swiper-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16%;
  margin-bottom: 1rem;
}


.nav-menu {
  top: 0;
  right: 0;
  will-change: transform;
  transition-property: transform;
  transition-duration: 200ms;
}

