:root {
  --dark-green: #122021;
  --button-color: #3F6F71;
  --link-color: #B7BBAF;
  --green-txt: #1C4442;
  --dark-green-txt: #1D5155;
  --txt-color: #F0FEFF;
  --white: #FFFFFF;
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  cursor: url(/images/cursor.svg), auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

* a {
  cursor: pointer;
  text-decoration: none;
  color: var(--txt-color);
}

::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100vw;
  background: radial-gradient(107.86% 107.86% at 64.17% 37.06%, #042F2E 0%, rgb(2, 35, 35) 25.37%, #000000 61.79%);
  background-attachment: fixed;
  min-height: 100vh;
  font-family: var(--montserrat);
  color: var(--txt-color);
  position: relative;
  overflow-x: hidden;
}
body .socialLinks {
  position: fixed;
  right: 32px;
  top: 40%;
  z-index: 999;
}
body .socialLinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .socialLinks ul li {
  margin: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(2, 21, 22, 0.05);
  border-radius: 4px;
  border: 1.5px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
body .socialLinks ul li a {
  font-size: 24px;
  color: var(--button-color);
  transition: 0.1s ease-out;
}
body .socialLinks ul li:hover a {
  color: var(--txt-color);
  transition: 0.1s ease-in;
}

nav {
  width: 100vw;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1.5px solid rgba(197, 255, 255, 0.12);
  padding: 0 160px;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 999;
}
nav .navlinks {
  display: flex;
  list-style: none;
}
nav .navlinks a {
  margin: 0 24px;
}

#hero {
  min-height: 100vh;
  width: 100%;
  margin-top: 73.5px;
  padding: 0 160px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
#hero .content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 580px;
}
#hero .content h3 {
  font-size: 32px;
  font-weight: 400;
  color: var(--button-color);
}
#hero .content h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--poppins);
  animation: typing 4s steps(20), deleting 2s steps(20) 4s infinite;
  min-width: 100%;
  min-height: 192px;
  position: relative;
}
#hero .content h1 #cursor {
  display: inline-block;
  width: 2px;
  height: 72px;
  background-color: var(--txt-color);
  animation: blink 0.8s infinite;
  position: absolute;
  margin: 12px 0 0 8px;
}
#hero .content p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 200;
}
#hero .content #hero-btn {
  margin-top: 48px;
  text-decoration: none;
  color: var(--white);
  font-weight: 200;
  background-clip: padding-box;
  background: transparent;
  border-radius: 4px;
  border: 1.5px solid rgba(197, 255, 255, 0.12);
  width: 200px;
  font-size: 20px;
  padding: 16px 32px;
  font-family: var(--poppins);
  position: relative;
}
#hero .content #hero-btn::before {
  content: "";
  height: 64px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.05);
  z-index: -2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
}
#hero .myAvatar {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
#hero .myAvatar img {
  height: 720px;
  margin-bottom: 1px;
}
#hero .myAvatar::before {
  content: "";
  width: 540px;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -2;
}

#about {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 72px 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#about .bef-el {
  height: 100%;
  width: 50vw;
  background-color: rgba(1, 23, 23, 0.2);
  backdrop-filter: blur(50);
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  border-radius: 0 80px 0 0;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-bottom: 0;
  border-left: 0;
}
#about .bef-el::after {
  position: absolute;
  bottom: -101px;
  right: -1001px;
  z-index: -2;
  content: "";
  width: 1000px;
  height: 100px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 0 0 0 80px;
  border-top: 0;
  border-right: 0;
}
#about h1 {
  width: 100%;
  font-size: 56px;
  font-weight: 700;
}
#about p {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
}
#about .glide {
  margin-top: 64px;
}
#about .glide .glide__track .glide__slides .service {
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-clip: padding-box;
  padding: 40px;
  border-radius: 8px;
  position: relative;
}
#about .glide .glide__track .glide__slides .service .blurBg {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 32, 33, 0.368627451);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-clip: padding-box;
  padding: 40px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
#about .glide .glide__track .glide__slides .service .icon i {
  font-size: 48px;
  color: var(--button-color);
}
#about .glide .glide__track .glide__slides .service h2 {
  font-size: 36px;
  margin-top: 24px;
  font-family: var(--poppins);
}
#about .glide .glide__track .glide__slides .service p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}
#about .glide .glide__track .glide__slides .service a {
  color: var(--button-color);
  position: absolute;
  left: 40px;
  bottom: 40px;
  transition: all 0.05s ease-in-out;
}
#about .glide .glide__track .glide__slides .service a i {
  margin: 0 8px;
}
#about .glide .glide__track .glide__slides .service a:hover {
  color: var(--txt-color);
  transition: all 0.05s ease-in-out;
}
#about .glide .glide__track .glide__slides .service a:hover i {
  margin-left: 16px;
}
#about table {
  width: 100%;
  margin-top: 72px;
  border-collapse: separate;
  border-spacing: 20px;
}
#about table tr {
  height: 200px;
}
#about table tr td {
  background: rgba(164, 252, 255, 0.05);
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  padding: 40px;
  text-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
#about table tr td .value {
  font-family: var(--poppins);
  font-size: 32px;
}
#about table tr td .description {
  font-size: 20px;
  font-weight: 400;
}
#about table tr .cell-lg {
  width: 560px;
}
#about table tr .cell-lg .value {
  font-size: 96px;
  font-weight: 800;
}
#about table tr .cell-lg .description {
  font-size: 28px;
  font-weight: 600;
}
#about #languages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}
#about #languages h2 {
  font-size: 32px;
  font-weight: 600;
}
#about #languages .langs {
  list-style: none;
  display: flex;
  margin-top: 32px;
}
#about #languages .langs li {
  font-size: 72px;
  margin: 12px;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

#projectSect {
  width: 100%;
  padding: 64px 160px;
}
#projectSect .projects {
  width: 100%;
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#projectSect .projects .project {
  width: 480px;
  height: 400px;
  background-color: rgba(63, 111, 113, 0.2);
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: hidden;
  margin: 40px;
}
#projectSect .projects .project .details {
  position: absolute;
  width: 100%;
  height: 200px;
  background: rgba(29, 81, 85, 0.5);
  bottom: -136px;
  left: 0;
  border-radius: 0 0 8px 8px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
#projectSect .projects .project .details .header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#projectSect .projects .project .details .header .status {
  padding: 8px 16px;
  background-color: var(--dark-green-txt);
  border-radius: 64px;
  font-size: 12px;
}
#projectSect .projects .project .details p {
  width: 100%;
  max-height: 40px;
  height: 40px;
}
#projectSect .projects .project .details .metadata {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  height: 56px;
  left: 0;
  padding: 0 40px;
}
#projectSect .projects .project .details .metadata .gitstars {
  display: flex;
}
#projectSect .projects .project .details .metadata .gitstars i {
  margin-right: 8px;
}
#projectSect .projects .project .details .metadata .usedTech {
  list-style: none;
  display: flex;
}
#projectSect .projects .project .details .metadata .usedTech li {
  font-size: 24px;
  margin: 0 8px;
}
#projectSect .projects .project:hover .details {
  bottom: 0;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}
@keyframes deleting {
  0% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
